<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.npu.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="edu.npu.entity.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="carpoolingId" column="carpooling_id" jdbcType="BIGINT"/>
            <result property="passengerId" column="passenger_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,carpooling_id,passenger_id,
        status,create_time,update_time,
        score
    </sql>

    <select id="selectPrizeList" resultType="edu.npu.vo.PrizeVo">
        SELECT
            d.driver_id as driverId,
            d.drivers_name as driversName,
            u.username as driverPhone,
            COUNT(o.id) as totalOrders
        FROM
            `order` o
            join carpooling c on o.carpooling_id = c.id
            join driver d on c.driver_id = d.driver_id
            join user u on u.id = d.driver_id
        WHERE
            o.status = 0
        AND
            o.create_time &gt;= #{begin,jdbcType=TIMESTAMP}
        AND
            o.update_time &lt;= #{end,jdbcType=TIMESTAMP}
        GROUP BY
            d.driver_id
        ORDER BY
            count(o.id) DESC
    </select>
</mapper>
